{% extends 'base.html.twig' %}

{% block title %}Jonatan Jabłoński{% endblock %}

{% block body %}
    <div class="social">
        <h2>Social Media</h2>
        <p>You can find me here:</p>


    <div id="cards">

        <div class="card" data-color="blue">
            <a href="https://github.com/HeraldOfCarcosa" target="_blank">
                <img class="card-front-image card-image" src="{{ asset('css/images/git2.jpeg') }}" />
            </a>

            <div class="card-faders">
                <img class="card-fader card-image" src="{{ asset('css/images/git2.jpeg') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/git2.jpeg') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/git2.jpeg') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/git2.jpeg') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/git2.jpeg') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/git2.jpeg') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/git2.jpeg') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/git2.jpeg') }}" />
            </div>
        </div>
        <div class="card" data-color="green">
            <a href="https://www.linkedin.com/in/jonatan-jab%C5%82o%C5%84ski-53540a224/" target="_blank">
                <img class="card-front-image card-image" src="{{ asset('css/images/linken.png') }}" />
            </a>
            <div class="card-faders">
                <img class="card-fader card-image" src="{{ asset('css/images/linken.png') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/linken.png') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/linken.png') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/linken.png') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/linken.png') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/linken.png') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/linken.png') }}" />
                <img class="card-fader card-image" src="{{ asset('css/images/linken.png') }}" />
            </div>
        </div>
    </div>
        <br>
    </div>

{% endblock %}
